<h1><%= flash[:success] %></h1>
<h2> Seus dados: </h2>
<%= @rent.customer.name%> <br>
<%= @rent.customer.phone%> <br>
<%= @rent.customer.cpf%> <br>
<%= @rent.customer.email%> <br>
<%= @rent.payment%>
