<%=flash[:error]%>
<%= @advertisement.title %> <hr>
<%= @advertisement.address %><br>
<%= @bike.use_for %><br>
<%= @advertisement.owner %><br>
<%= @advertisement.phone %><br>
<%= @advertisement.price %><br>

<p><%= @availability %></p>

<%= link_to 'Alugar Bike', new_advertisement_rent_path(@advertisement) %>
<%= link_to 'Voltar', root_path(@advertisement) %>
