<div class="jumbotron">
  <h1>Rent Bike!</h1>
  <p>RentBike é uma aplicação que aproxima quem quer alugar uma bicicleta de quem tem um para alugar.
  Sempre pensando na proximidade dessas duas pessoas e na facilidade para que essa neogociação seja feita!</p>
</div>
<h3>Bikes disponíveis</h3><br>
<div class="row">
  <% @advertisements.each do |ad| %>
    <div class="col-sm-4">
      <img src="<%= ad.bike.photo_url %>" class="img-responsive" style="width:100%" alt="Image">
      <h4><%= link_to ad.title, ad %></h4>
      <b>Endereço:</b> <%= ad.address %><br>
      <b>Principal uso:</b> <%= ad.bike.use_for %> <br>
      <b>Categoria:</b> <%= ad.bike.category %>
    </div >
  <% end %>
</div>
