<!DOCTYPE html>
<html>
  <head>
    <title>RentBike</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <%= render 'menu' %>
  <%= render 'warnings' %>
  <%= yield :top_content %>
  <main>
    <div class="container">
      <%=yield%>
    </div>
  </main>
    <footer class="container-fluid text-center">
      <p>RentBike by Luiza Magalhães/CampusCode</p>
    </footer>
  </body>
</html>
